* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  color: red;
}

article {
  font-family: "Times New Roman", Times, serif;
  font-size: 23px;

  margin: 20px;

  padding: 30px;
}

p {
  margin-bottom: 25px;
  margin-top: 25px;
}

div {
  display: flex;
  justify-content: center;
}

.img-1 {
  box-shadow: 0 0 30px #333;
}

.img-2 {
  box-shadow: 0 0 30px #333;
}

nav a {
  color: rgb(39, 36, 36);

  text-decoration: none;
}

.header-nav {
  font-size: 21px;

  display: flex;
  justify-content: flex-end;

  margin-top: 30px;
  margin-right: 30px;
}

.header-nav a {
  display: block;
  padding: 1px 1rem;
}

.nav-item {
  display: inline-block;
}
